.form-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #fff;
     box-shadow: .2px .2px 9px .1px #bbb;
     color: #fff;
     height: 2em;
     width: 2em;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.form-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 9.5px;
     top: 6.5px;
     content: '\02143';
     transform: rotate(40deg);
}

.form-checkbox:hover
{
     background-color: #f7f7f7;
}

.form-checkbox:checked
{
     box-shadow: none;
     background-color: #5cb85c;
}

label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
}

.title {
     color: #777;
     max-height: 60px;
     padding: 0 0 0 1em;
     display: inline-block;
     vertical-align: middle;
     width: auto;
}
   
.title.completed {
     text-decoration: line-through;
}

.ui.button {
     border-radius: .2em
}

.ui.red.button {
     background-color: #d34a2e;
}

.ui.segments {
     margin: auto;
     width: 60%;
     top: 30px;
}

.filters {
     margin: auto;
     margin-top: 50px;
     width: 60%;
}

.ui.list[class*="middle aligned"] .form-checkbox {
     vertical-align: middle!important;
}

.ui.icon {
     display: inline-block;
     vertical-align: baseline;
     padding: .78571429em 1.5em .78571429em;
}

.ui.list>.item {
     padding: 8px 0;
}

.ui.list>.item>input.form-checkbox {
     display: inline-block;
}

.ui.list>.item>.form-checkbox {
     margin: 0;
}

.i.icon.check.circle.outline::before {
     color: #5cb85c;
}

.ui.green.button {
     background-color: #5cb85c;
}